body {
  background-image: url('nice_snow.png');
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

#phone-number, #email {
  direction: rtl;
  unicode-bidi: bidi-override;
}

#github {
  display: block;
}

header {
  text-align: center;
}

ul {
  margin: 0px;
}

em {
  font-weight: bold;
}

.skills li {
  list-style-type: none;
  display: inline;
}

div.skills {
  display: inline-block;
  width: 200px;
}

#name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
}

.section-name {
  border-top: 2px solid silver;
  border-bottom: 2px solid silver;
  padding: 1px;
  margin: 8px;
}

section h2 {
  text-align: left;
  margin: 2px;
  font-size: 18px;
}

section li {
  list-style-type: none;
  padding-right: 4px;
}

.work-experience, .volunteer-experience, .education-experience {
  margin: 2px;
}
.employer-name {
  display: inline;
  font-size: 16px;
}

.work-experience li, .volunteer-experience li, .education-experience li {
  list-style-type: circle;
}

.job-title {
  margin: 0px;
  font-size: 16px;
  font-style: italic;
}

.certifications li, .skills li {
  list-style-type: circle;
}
