header {
  text-align: center;
}

#name {
  margin-bottom: 0px;
}

section {
  border-top: 2px solid silver;
  border-bottom: 2px solid silver;
  padding: 4px;
  margin: 8px;
}

section h2 {
  text-align: left;
}