body {
  background-image: url('nice_snow.png');
}

header {
  text-align: center;
}

#name {
  margin-bottom: 0px;
}

.section-name {
  border-top: 2px solid silver;
  border-bottom: 2px solid silver;
  padding: 1px;
  margin: 8px;
}

section h2 {
  text-align: left;
  margin: 2px;
  font-size: 20px;
}

section li {
  list-style-type: none;
  padding-right: 4px;
}

.work-experience, .volunteer-experience {
  margin: 2px;
}
.employer-name {
  display: inline;
}

.work-experience li, .volunteer-experience li {
  list-style-type: circle;
}

.job-title {
  margin: 0px;
  font-size: 16px;
  font-style: italic;
}

.certifications li {
  list-style-type: circle;
}